

#image {

  height: 100vh;
  width: 100vw;
  background: @color-bg;

  .navigator {

    right: @px-gutter;
    top: @px-gutter;
    border: 1px solid @gray !important;

    canvas {
      background: @color-bg !important;
    }

    .displayregion {
      border-color: @color-hl !important;
    }

  }

  i {
    color: @color-hl;
  }

}
