

#neighbor-card {

  .dark-panel();
  .border-radius(2px);
  .flex-shrink(0);

  margin-bottom: 8px;
  padding: 8px;

  // The close "X".
  i.back {

    float: right;
    margin-right: 2px;
    font-size: 30px;

    &:hover {
      cursor: pointer;
      color: @color-hl;
    }

    &:active {
      color: darken(@color-hl, 10%);
    }

  }

  p {
    margin: 0;
    font-weight: 300;
  }

  // Grayed-out description.
  span.assigned-with {
    color: darken(white, 40%);
  }

  // Larger text for the titles.
  p.text {
    font-size: 18px;
  }

  // Bold text titles.
  span.title {
    font-weight: 700;
  }

}
