

#search {

  position: fixed;
  width: @px-search-width;
  top: @px-gutter;
  left: @px-gutter;

  & > i {
    margin-left: 10px;
    color: @gray-light;
    font-size: 5em;
  }

}

#search-box {

  .input-group {
    margin-bottom: 10px;
  }

  input, span.input-group-addon {
    border: none;
    background: rgba(0,0,0,0.7);
  }

  input {

    width: 100%;
    padding: 20px 10px;
    font-size: 1.4em;
    font-weight: 200;
    color: whitesmoke;

    &:focus {
      box-shadow: none;
    }

  }

  &.active {
    i {
      color: @brand-primary;
    }
  }

}

#search-list {

  display: none;
  max-height: 80vh;
  overflow: scroll;
  border-radius: @border-radius-base;
  background: rgba(0,0,0,0.7);
  color: darken(white, 30%);
  font-weight: 200;

  &.active {
    display: block;
  }

  table {

    margin-bottom: 0;

    th {
      font-size: 10px;
      text-transform: uppercase;
      border-width: 1px;
    }

    td {
      border-color: @color-bg;
    }

  }

}

.search-row {

  &:hover {
    cursor: pointer;
    .title, .title em {
      color: @color-hl;
    }
  }

  td.degree {
    text-align: center;
    vertical-align: middle;
    font-size: 1.2em;
  }

  .title {
    font-weight: bold
  }

  .publisher {
    font-size: 10px;
    font-style: italic;
  }

  em {
    font-style: normal;
    color: @brand-primary;
  }

  i {
    margin-right: 6px;
    color: @brand-primary;
  }

  p {
    margin-bottom: 2px;
  }

}
