

#search {
  position: fixed;
  width: @px-search-width;
  top: @px-gutter;
  left: @px-gutter;
  color: whitesmoke;
}

#search-box {

  input {

    width: 100%;
    padding: 20px 10px;
    border: none;
    background: rgba(0,0,0,0.8);
    font-size: 1.2em;
    font-weight: 300;
    color: inherit;

    &:focus {
      box-shadow: none;
    }

  }

}

#search-list {
  max-width: 300px;
  max-height: 80vh;
  overflow: scroll;
}

.search-row {

  margin: 5px;

  .title {
    font-weight: bold
  }

  em {
    font-style: normal;
    text-decoration: underline;
  }

}
