

#texts {

  position: fixed;
  width: @px-search-width;
  top: @px-gutter;
  left: @px-gutter;
  perspective: 3000px;

  figure.back {
    display: none;
  }

  &.selected {
    figure.front {
      display: none;
    }
    figure.back {
      display: block;
    }
  }

}
