

#texts {

  .node-panel();

  & > i {
    margin-left: 10px;
    color: @gray-light;
    font-size: 5em;
  }

  .text-list {
    max-height: 75vh;
    margin-bottom: 10px;
    overflow: scroll;
    border-radius: @border-radius-base;
    background: rgba(0,0,0,0.7);
    color: darken(white, 30%);
    font-weight: 200;
  }

  .alert {

    padding: 10px;
    border: 1px solid @brand-primary;

    i {
      margin-right: 5px;
    }

    .close {

      right: 0;
      top: 0;
      text-shadow: none;
      outline: none;
      opacity: 1;
      font-size: 18px;

      &:hover {
        color: @brand-primary;
      }

    }

  }

  table {

    margin-bottom: 0;

    th {
      text-transform: uppercase;
      font-size: 10px;
      border-width: 1px;
    }

    th.count {
      text-align: center;
    }

    td {
      border-color: @color-bg;
    }

  }

  tr.text-row {

    &:hover {
      cursor: pointer;
      .title, .title em {
        color: @color-hl;
      }
    }

    em {
      font-style: normal;
      color: @brand-primary;
    }

    i {
      margin-right: 6px;
      color: @brand-primary;
    }

    p {
      margin-bottom: 2px;
    }

    .title {
      font-weight: bold;
      .transition(color .1s ease);
    }

    .publisher {
      font-size: 10px;
      font-style: italic;
    }

    .count {
      padding: 5px 10px;
      text-align: center;
      vertical-align: middle;
      font-size: 1.2em;
    }

  }

}

#search-box {

  &.active {
    i {
      color: @brand-primary;
    }
  }

  .input-group {
    margin-bottom: 10px;
  }

  input, span.input-group-addon {
    border: none;
    background: rgba(0,0,0,0.7);
  }

  input {

    width: 100%;
    /*padding: 20px 10px;*/
    font-size: 1.4em;
    font-weight: 200;
    color: whitesmoke;

    &:focus {
      box-shadow: none;
    }

  }

}

#search-list {
  display: none;
  &.active {
    display: block;
  }
}
