

#texts {

  position: fixed;
  width: @px-search-width;
  top: @px-gutter;
  left: @px-gutter;
  perspective: 3000px;

  // By default, hide the neighbors list.
  figure.back {
    display: none;
  }

  // Show neighbors when a node is selected.
  &.selected {
    figure.front {
      display: none;
    }
    figure.back {
      display: block;
    }
  }

  // Loading icons.
  i.spinner {
    font-size: 7em;
    color: @color-hl;
  }

}

.text-list {

  .dark-panel();
  .border-radius(2px);

  max-height: 70vh;
  overflow: scroll;
  font-weight: 300;
  font-size: 13px;

  table {

    margin: 0;

    th {
      font-size: 10px;
      text-transform: uppercase;
    }

    tr.text-row {

      &:hover {
        cursor: pointer;
        // Pop the title on hover.
        .title, .title em {
          color: @color-hl;
        }
      }

      td {
        border-color: @color-bg;
      }

      td.count {
        text-align: center;
        vertical-align: middle;
      }

      td.icon {
        padding-right: 0;
      }

      span.title {
        font-weight: bold;
      }

      em {
        font-style: normal;
        color: @brand-primary;
      }

    }

  }

}
